/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 version
*/

:root {
  --font_text: "Poppins", sans-serif;
  --font_title: "Sen", sans-serif;
  --color_text: #929089;
  --color_one: #ffb82b;
  --color_two: #161102;
  --line-clamp: 1;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: var(--font_text);
}
/* ==================================common================================ */
a {
  text-decoration: none;
  display: inline-block;
}
button:hover {
  cursor: pointer;
}
.break-all {
  word-break: break-all;
}
.line-clam {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clam.two-line {
  --line-clamp: 2;
}
.line-clam.three-line {
  --line-clamp: 3;
}
.main-content {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 60px);
}
.btn {
  min-width: 118px;
  color: white;
  background-color: var(--color_two);
  padding: 0px 16px;
  text-align: center;
  line-height: 50px;
  border-radius: 999px;
  font-weight: 600;
}
.descript {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}
.heading-level-two {
  font-family: var(--font_title);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.27;
  letter-spacing: -2%;
}
/* ==================================header================================ */
.header {
  background-color: #fffcf4;
}
.header.fixed {
  position: -webkit-sticky;
  position: sticky;
  top: -28px;
  z-index: 1000;
}
.header .body {
  /* height: 1000px; */
  padding: 36px 0px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .nav {
  margin-left: auto;
}
.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .nav a {
  color: var(--color_text);
  padding: 6px 21px;
  position: relative;
}
.header .nav a:hover {
  color: black;
  text-shadow: 0.5px 0px 0px currentColor;
}
.header .nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 2px;
  background-color: black;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.header .nav a:hover::after {
  width: 100%;
}
.header .btn_sign_up {
  min-width: 144px;
}
.action {
  margin-left: 49px;
}
/* =============================main============================== */
.hero {
  padding: 56px 0px 65px;
  background-color: #fffcf4;
}
.body-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero-media,
.hero-content {
  width: 50%;
}
.hero-media {
  position: relative;
  width: 50%;
}
.hero-media .img {
  width: 470px;
  height: 685px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 6px;
}
.hero-media .media-summary {
  position: absolute;
  background-color: white;
  bottom: 48px;
  right: 0px;
  width: 270px;
  padding: 24px;
  border-radius: 20px;
}
.hero-media .item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero-media .item + .item {
  margin-top: 22px;
}
.hero-media .media-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #faf6e6;
  margin-right: 16px;
}
.hero-media .media-summary .icon-two {
  background-color: #faeffe;
}
.hero-media .media-summary .icon-three {
  background-color: #ebeafd;
}
.hero-media .media-summary .label {
  font-size: 1.4rem;
  line-height: 1.86;
}
.hero-media .media-summary .title {
  font-weight: 600;
  line-height: 1.67;
  font-size: 1.8rem;
}
.hero-content {
  padding-left: 116px;
  padding-top: 64px;
}
.heading {
  color: black;
  font-family: var(--font_title);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}
.hero-content .descript {
  margin-top: 22px;
}
.hero-content .cta {
  margin-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: center; */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero-content .cta .btn-two {
  min-width: 180px;
  background-color: var(--color_one);
  line-height: 6.4rem;
  border: 2px solid var(--color_one);
}
.hero-content .cta .btn-two:hover {
  background-color: transparent;
  color: var(--color_one);
}
.hero .watch {
  display: inline-block;
  border: 2px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  margin-left: 28px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 14px;
  border-radius: 999px;
}
.hero .watch:hover {
  border-color: var(--color_one);
}
.hero .watch .play {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.hero .watch .play + p {
  font-size: 1.8rem;
  line-height: 1.67;
  font-weight: 600;
}
.hero-content .descript-one {
  margin-top: 48px;
}
.hero .strong-one strong {
  font-family: var(--font_title);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
  color: #000;
}
.hero .strong-one strong:nth-child(n + 2) {
  margin-left: 28px;
}
.hero .strong-one {
  margin-top: 8px;
}
.popular-courses {
  padding: 60px 0;
  margin-top: 140px;
}
.popular-courses-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.popular-courses-top .descript {
  margin-top: 16px;
  width: 458px;
}
.popular-courses .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}
.popular-courses-top .controls {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: var(--color_one) 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}
.control .left {
  background-color: white;
  color: var(--color_one);
}
.control .left:hover {
  background-color: var(--color_one);
  color: white;
}
.control .right {
  background-color: var(--color_one);
  color: white;
}
.control .right:hover {
  background-color: white;
  color: var(--color_one);
}
.popular-courses-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  gap: 30px;
  margin-top: 55px;
  /* background-color: blue; */
}
.popular-courses-bottom .course {
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out;
  -o-transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out; /* Chuyển động mượt mà trong 0.5s */
}
.popular-courses-bottom .course:hover {
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.5);
}
.popular-courses-bottom .contain-thumb {
  height: 278px;
  overflow: hidden;
}
.popular-courses-bottom .thumb {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
  height: 278px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  -o-transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out; /* Hiệu ứng mượt */
}
.popular-courses-bottom .thumb:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); /* Phóng to 10% */
}
.popular-courses-bottom .course-info {
  padding: 16px 22px 22px;
}
.popular-courses-bottom .h-course-info,
.popular-courses-bottom .f-courses-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.popular-courses-bottom .h-course-info .heading-level-three,
.popular-courses-bottom .price {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  color: black;
}
.popular-courses-bottom .h-course-info .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 0;
}
.popular-courses-bottom .h-course-info span {
  color: var(--color_one);
}
.popular-courses-bottom .f-courses-info {
  margin-top: 12px;
}
.btn-four {
  border: none;
  -webkit-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out; /* Chuyển màu nền trong 0.5s */
}
.popular-courses-bottom .btn-four:hover {
  background-color: var(--color_one);
}
.popular-courses-bottom .descript {
  font-size: 1.4rem;
}
/* ---------------------feedback---------------------- */
.feedback {
  margin-top: 135px;
  padding: 96px 0px;
  background: #2e2100;
}
.feedback-item {
  display: flex;
}
.feedback-item .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 18px;
}
.feedback-item .name {
  font-family: var(--font_title);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
  margin-bottom: 4px;
  color: white;
}
.feedback-item .dots {
  display: flex;
  margin-top: 28px;
  gap: 6px;
}
.feedback-item .dot {
  width: 6px;
  height: 6px;
  background: #634700;
  border-radius: 50%;
}
.feedback-item .feedback-content {
  width: 66%;
  margin-left: auto;
}
.feedback-item blockquote {
  color: white;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54;
}
